body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2a2a2a;
    color: black;
}

h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
}

.calculator {
    background-color: white;
    width: 350px;
    border-radius: 10px;
    padding: 25px;
}

.box-display {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    border-radius: 6px;
    text-align: right;
    font-size: 20px;
    padding: 0 5px 0 5px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}

.historic {
    text-align: left;
    margin: 5px;
    width: 100%;
}

.historic img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.backdrop {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.view-historic {
    display: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    transition: .6s;
    width: 280px;
    position: absolute;
    text-align: right;
    z-index: 20;
}

#close {
    background-color: white;
    cursor: pointer;
    font-size: 15px;
    color: #8b8b8b;
    margin: 10px;
    border: 0;
}

.historic-calc {
    text-align: left;
    font-size: 20px;
    color: black;
    margin: 0 10px 10px 10px;
}

.wraper-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

.box-display input {
    width: calc(100% - 30px);
    border: 0;
    background-color: #f0f0f0;
    text-align: right;
    width: 100%;
    height: calc(100px/3);
    font-size: 30px;
    color: black;
}

.soma {
    font-size: 20px;
}

.box-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.box-buttons button {
    height: 60px;
    border-radius: 6px;
    font-size: 19px;
    border: 0;
    cursor: pointer;
}

.box-buttons button:hover {
    background-color: #d0dbfa;
    transition: .4s;
}

.btn-zero {
    grid-column: 1 / 3; /* vai começar da 1 coluna e ira até o inicio da 3 coluna */
}

.btn-equal {
    height: 100% !important; /* colocamos essa propriedade para ele ocupar toda a linha */
    grid-row: 4 / 6; /* vai começar da 4 para e finalizar na 6 coluna */
    grid-column: 4; /* definimos a coluna que ele vai ficar */
}



